---
// Component imports
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets"
---

<MainLayout title="Sobre mi" description="Sobre ">
    <section class="container about" aria-label="About Me">
        <Image 
    src={import("/images/headshot.avif")} 
    alt="Mierdon"
    decoding="async"
    loading="lazy"
    width="1200"
    height="600"
    format="avif"
    quality="low"
    
    quality = {20} />
        <div class="content">
            <div class="h1">My Blog</div>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Reprehenderit, quidem inventore? Provident quidem delectus odit
                repellendus, voluptatem blanditiis error iste molestiae
                praesentium at. Inventore, sint unde. Nostrum dolor non
                repellendus facere itaque. Non enim, eos libero asperiores
                explicabo vitae incidunt.
            </p>
            <Link
                href="mailto:g.izaguirre.de.diego@gmail.com"
                style="primary"
                text="Contact Me"
            />
        </div>
    </section>
</MainLayout>
