---

---

<footer>
    <small>
        Copyright &copy <span id="copyright">
            
        </span> | All Rigths Reserved
    </small>
</footer>

<script>
     document.querySelector("#copyright")!.textContent = 
     new Date().getFullYear().toString();
</script>